---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Bootstrap examples with Tailwind CSS"

const examples = [
  { title: "Album", url: "/album" },
  { title: "Pricing", url: "/pricing" },
]
---

<BaseLayout title="Bootstrap with Tailwind">
  <div class="max-w-xl mx-auto py-10 prose">
    <h1 class="text-center">{title}</h1>

    <ul>
      {examples.map(example => (
        <li>
          <a href={example.url}>{example.title}</a>
        </li>
      ))}
    </ul>
  </div>
</BaseLayout>

<style is:global>
  .markup p {
    @apply leading-relaxed;
  }

  .markup a {
    @apply text-blue-500;
  }
  .markup a:hover {
    @apply text-blue-800 underline;
  }
</style>
