---
interface Props {
  inverted: boolean;
  shape: "square" | "rounded";
  size?: "large";
  text: string;
  type: "primary" | "secondary";
}

const { inverted, shape, size, text, type } = Astro.props as Props;
---

<a
  class:list={[
    "block border transition-colors ease-in-out duration-200",
    {
      "bg-blue-500 border-blue-500 text-white hocus:bg-blue-600 hocus:text-white":
        type == "primary" && !inverted,
      "bg-white border-blue-500 text-blue-600 hocus:bg-blue-600 hocus:text-white":
        type == "primary" && inverted,
      "bg-gray-500 text-white hocus:bg-gray-600 hocus:text-white":
        type == "secondary",
      "rounded-md": shape == "rounded",
      "rounded-none": shape == "square",
      "py-3 px-5 text-xl": size == "large",
      "py-2 px-5 text-lg": size !== "large",
    },
  ]}
  href="#0"
>
  {text}
</a>
