---
---

<footer class="text-gray-500">
  <div class="max-w-xl mx-auto py-12 px-6 lg:max-w-6xl lg:grid lg:grid-cols-10">
    <div class="markup lg:col-span-6">
      <p>
        This page is an experiment for my <a
          href="https://www.oliverdavies.uk/talks/taking-flight-with-tailwind-css"
          >Taking Flight with Tailwind CSS</a
        > talk, where I rebuild Bootstrap CSS examples with Tailwind.
      </p>
    </div>

    <div class="markup lg:col-span-4 lg:text-right">
      <p><a href="#">Back to top</a></p>
    </div>
  </div>
</footer>
