---
interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<div class="px-4 py-3.5 bg-gray-750 text-white">
  <div class="max-w-6xl mx-auto px-6 flex items-center gap-3">
    <svg
      class=""
      fill="none"
      height="20"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      stroke="currentColor"
      viewBox="0 0 24 24"
      width="20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"
      ></path>
      <circle cx="12" cy="13" r="4"></circle>
    </svg>

    <p class="font-semibold text-xl tracking-wide">{title}</p>
  </div>
</div>
